body {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* start nav_background */

.nav_background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 15px 10%;
    padding-top: 20px;
    background: rgba(0,0,0,0);
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list li {
    margin: 0 50px;
}

.list li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.list li a button {
    background: #F05670;
    border: none;
    width: 186.78px;
    height: 62.26px;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

.list li a span {
    display: block;
    display: flex;
    align-items: center;
}

.list li a span span {
    margin-left: 10px;
    color: #1E959B;
}

@media screen and (max-width:1400px){
    .nav_background {
        width: 90%;
        padding: 15px 5%;
    }
}
@media screen and (max-width:1202px){
    .nav_background {
        width: 90%;
        padding: 15px 5%;
    }
    .list li {
        margin: 0 20px;
    }
}

@media screen and (max-width:968px){
    .list li span span {
        display: none;
    }
}
@media screen and (max-width:768px){
    .list {
        display: none;
    }
    .nav_background {
        justify-content: center;
    }
}

/* end nav_background */

/* start bottom_background */

.bottom_background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.bottom_background img {
    object-fit: cover;
}

/* end bottom background */
/* start card header */

.card_header {
    width: 80%;
    margin: 50px auto;
}

.card_header_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 478px;
    height: 533px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
    box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
    border-radius: 30px;
}

.card_header_header {
    position: relative;
    width: 100%;
    display: flex;  
    justify-content: center;
    top: -13%;
    height: 40%;
}

.card_header_header img {
    width: 334px;
    height: 264px;
}

.card_header_body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.list_header {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.list_header li:nth-child(1){
    position: relative;
}

.list_header li:nth-child(1)::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    opacity: 0.5;
    background: #1E959B;
    right: -30%;
}

.list_header li h3 {
    color: #1E959B;
}

.icon_header {
    display: flex;
}

.icon_header li {
    margin-right: 25px;
    margin-bottom: 20px;
}

.card_header_link {
    text-align: center;
    margin-bottom: 20px;
}

.card_header_link a {
    text-decoration: none;
    font-size: 24px;
    text-transform:capitalize;
    color: #1E959B;
}

.card_header_footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card_header_footer button {
    border: none;
    outline: none;
    color: white;
    background: #F05670;
    box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
    border-radius: 20px;
    width: 70%;
    height: 60px;
}

/* end card header */